@import 'variable.less';

.input-field {
    margin: 4px 4px 8px 0;
    
    width: 100%;
    
    &-input {
        border: 1px solid lightgrey;
        padding: 6px 6px 6px 8px;
        border-radius: 4px;
        width: 100%;
        height: @base-size * 4;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        &[type="file"] {
            height: auto;
        }
    }
}