.pof-item {
    display: flex;
    padding: 8px;
    
    &-qty {
        &-view {
            display: flex;   
            
            > .button {                
                background: none;
                border: 0;
                padding: 0;
                color: black;
            }   
        }
    }
}