.po-field {
    &-table {
        &-header {
            display: flex;
            margin-top: 4px;
        }
        &-id {
            padding: 4px;
            width: 15%;
            border: 1px solid lightgrey;
            text-align: center;
        }
        
        &-name {
            text-align: center;
            padding: 4px;
            width: 45%;
            border: 1px solid lightgrey;
        }
        
        &-qty {
            text-align: center;
            padding: 4px;
            border: 1px solid lightgrey;
            width: 40%;
        }
    }
    &-header {
     
        display: flex;

        > .search-field {
            display: inline-block;
            width: 100%;

        }

        > .input-field {
            display: inline-block;
            width: 60px;
            margin: 0 4px;

            > .input-field-input {
                height: auto;
            }
        }
        
        > .button {
           width: 32px; 
           padding: 6px 10px;
        }
    }
}