.pa-field {
    &-header {
        display: flex;
        
        > .search-field {
            width: 100%;
        }
        
        > .button {
            width: 60px;
        }
    }
    
    &-item {
        width: 100%;
        padding: 8px;
    }
    
    &-table {
        &-header { 
            display: flex;
        }
    }
}