.form-submit {
  width: 120px;
  max-height: 32px;
}
.form-field-left {
  text-align: left;
  font-weight: bold;
}
.form-field-right {
  min-width: 300px;
  display: inline-block;
}
.form-label {
  color: #2f4f4f;
  font-weight: 700;
  padding: 8px 0;
  font-size: 16px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 8px;
}
