.form-submit {
  width: 120px;
  max-height: 32px;
}
.form-field-left {
  min-width: 240px;
  display: inline-block;
  text-align: right;
  padding: 0 32px;
  font-weight: bold;
}
.form-field-right {
  min-width: 300px;
  display: inline-block;
}
.form-label {
  color: darkslategrey;
  font-weight: bold;
}
